/* Accordion (<details>) */
details {
    display: block;
    margin-bottom: var(--spacing);
}
details summary {
    line-height: 1rem;
    list-style-type: none;
    cursor: pointer;
    transition: color var(--transition);
}
details summary:not([role]) {
    color: var(--accordion-close-summary-color);
}
details summary::-webkit-details-marker {
    display: none;
}
details summary::marker {
    display: none;
}
details summary::-moz-list-bullet {
    list-style-type: none;
}
details summary::after {
    display: block;
    width: 1rem;
    height: 1rem;
    margin-inline-start: calc(var(--spacing, 1rem) * 0.5);
    float: right;
    transform: rotate(-90deg);
    background-image: var(--icon-chevron);
    background-position: right center;
    background-size: 1rem auto;
    background-repeat: no-repeat;
    content: "";
    transition: transform var(--transition);
}
details summary:focus {
    outline: none;
}
details summary:focus:not([role]) {
    color: var(--accordion-active-summary-color);
}
details summary:focus-visible:not([role]) {
    outline: var(--outline-width) solid var(--primary-focus);
    outline-offset: calc(var(--spacing, 1rem) * 0.5);
    color: var(--primary);
}
details summary[role="button"] {
    width: 100%;
    text-align: left;
}
details summary[role="button"]::after {
    height: calc(1rem * var(--line-height, 1.5));
}
details[open] > summary {
    margin-bottom: var(--spacing);
}
details[open] > summary:not([role]):not(:focus) {
    color: var(--accordion-open-summary-color);
}
details[open] > summary::after {
    transform: rotate(0);
}

[dir="rtl"] details summary {
    text-align: right;
}
[dir="rtl"] details summary::after {
    float: left;
    background-position: left center;
}
