/* Button */
button {
    margin: 0;
    overflow: visible;
    font-family: inherit;
    text-transform: none;
}

button,
[type="submit"],
[type="reset"],
[type="button"] {
    -webkit-appearance: button;
}

button,
[type="submit"],
[type="reset"],
[type="button"],
[type="file"]::file-selector-button,
[role="button"] {
    --background-color: var(--primary-background);
    --border-color: var(--primary-border);
    --color: var(--primary-inverse);
    --box-shadow: var(--button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
    padding: var(--form-element-spacing-vertical)
        var(--form-element-spacing-horizontal);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    outline: none;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    color: var(--color);
    font-weight: var(--font-weight);
    font-size: 1rem;
    line-height: var(--line-height);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: background-color var(--transition),
        border-color var(--transition), color var(--transition),
        box-shadow var(--transition);
}
button:is([aria-current]:not([aria-current="false"])),
button:is(:hover, :active, :focus),
[type="submit"]:is([aria-current]:not([aria-current="false"])),
[type="submit"]:is(:hover, :active, :focus),
[type="reset"]:is([aria-current]:not([aria-current="false"])),
[type="reset"]:is(:hover, :active, :focus),
[type="button"]:is([aria-current]:not([aria-current="false"])),
[type="button"]:is(:hover, :active, :focus),
[type="file"]::file-selector-button:is(
        [aria-current]:not([aria-current="false"])
    ),
[type="file"]::file-selector-button:is(:hover, :active, :focus),
[role="button"]:is([aria-current]:not([aria-current="false"])),
[role="button"]:is(:hover, :active, :focus) {
    --background-color: var(--primary-hover-background);
    --border-color: var(--primary-hover-border);
    --box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
    --color: var(--primary-inverse);
}
button:focus,
button:is([aria-current]:not([aria-current="false"])):focus,
[type="submit"]:focus,
[type="submit"]:is([aria-current]:not([aria-current="false"])):focus,
[type="reset"]:focus,
[type="reset"]:is([aria-current]:not([aria-current="false"])):focus,
[type="button"]:focus,
[type="button"]:is([aria-current]:not([aria-current="false"])):focus,
[type="file"]::file-selector-button:focus,
[type="file"]::file-selector-button:is(
        [aria-current]:not([aria-current="false"])
    ):focus,
[role="button"]:focus,
[role="button"]:is([aria-current]:not([aria-current="false"])):focus {
    --box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
        0 0 0 var(--outline-width) var(--primary-focus);
}

[type="submit"],
[type="reset"],
[type="button"] {
    margin-bottom: var(--spacing);
}

:is(button, [type="submit"], [type="button"], [role="button"]).secondary,
[type="reset"],
[type="file"]::file-selector-button {
    --background-color: var(--secondary-background);
    --border-color: var(--secondary-border);
    --color: var(--secondary-inverse);
    cursor: pointer;
}
:is(button, [type="submit"], [type="button"], [role="button"]).secondary:is(
        [aria-current]:not([aria-current="false"]),
        :hover,
        :active,
        :focus
    ),
[type="reset"]:is(
        [aria-current]:not([aria-current="false"]),
        :hover,
        :active,
        :focus
    ),
[type="file"]::file-selector-button:is(
        [aria-current]:not([aria-current="false"]),
        :hover,
        :active,
        :focus
    ) {
    --background-color: var(--secondary-hover-background);
    --border-color: var(--secondary-hover-border);
    --color: var(--secondary-inverse);
}
:is(button, [type="submit"], [type="button"], [role="button"]).secondary:focus,
:is(button, [type="submit"], [type="button"], [role="button"]).secondary:is(
        [aria-current]:not([aria-current="false"])
    ):focus,
[type="reset"]:focus,
[type="reset"]:is([aria-current]:not([aria-current="false"])):focus,
[type="file"]::file-selector-button:focus,
[type="file"]::file-selector-button:is(
        [aria-current]:not([aria-current="false"])
    ):focus {
    --box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
        0 0 0 var(--outline-width) var(--secondary-focus);
}

:is(button, [type="submit"], [type="button"], [role="button"]).contrast {
    --background-color: var(--contrast-background);
    --border-color: var(--contrast-border);
    --color: var(--contrast-inverse);
}
:is(button, [type="submit"], [type="button"], [role="button"]).contrast:is(
        [aria-current]:not([aria-current="false"]),
        :hover,
        :active,
        :focus
    ) {
    --background-color: var(--contrast-hover-background);
    --border-color: var(--contrast-hover-border);
    --color: var(--contrast-inverse);
}
:is(button, [type="submit"], [type="button"], [role="button"]).contrast:focus,
:is(button, [type="submit"], [type="button"], [role="button"]).contrast:is(
        [aria-current]:not([aria-current="false"])
    ):focus {
    --box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
        0 0 0 var(--outline-width) var(--contrast-focus);
}

:is(button, [type="submit"], [type="button"], [role="button"]).outline,
[type="reset"].outline {
    --background-color: transparent;
    --color: var(--primary);
    --border-color: var(--primary);
}
:is(button, [type="submit"], [type="button"], [role="button"]).outline:is(
        [aria-current]:not([aria-current="false"]),
        :hover,
        :active,
        :focus
    ),
[type="reset"].outline:is(
        [aria-current]:not([aria-current="false"]),
        :hover,
        :active,
        :focus
    ) {
    --background-color: transparent;
    --color: var(--primary-hover);
    --border-color: var(--primary-hover);
}

:is(
        button,
        [type="submit"],
        [type="button"],
        [role="button"]
    ).outline.secondary,
[type="reset"].outline {
    --color: var(--secondary);
    --border-color: var(--secondary);
}
:is(
        button,
        [type="submit"],
        [type="button"],
        [role="button"]
    ).outline.secondary:is(
        [aria-current]:not([aria-current="false"]),
        :hover,
        :active,
        :focus
    ),
[type="reset"].outline:is(
        [aria-current]:not([aria-current="false"]),
        :hover,
        :active,
        :focus
    ) {
    --color: var(--secondary-hover);
    --border-color: var(--secondary-hover);
}

:is(
        button,
        [type="submit"],
        [type="button"],
        [role="button"]
    ).outline.contrast {
    --color: var(--contrast);
    --border-color: var(--contrast);
}
:is(
        button,
        [type="submit"],
        [type="button"],
        [role="button"]
    ).outline.contrast:is(
        [aria-current]:not([aria-current="false"]),
        :hover,
        :active,
        :focus
    ) {
    --color: var(--contrast-hover);
    --border-color: var(--contrast-hover);
}

:where(
        button,
        [type="submit"],
        [type="reset"],
        [type="button"],
        [role="button"]
    )[disabled],
:where(fieldset[disabled])
    :is(
        button,
        [type="submit"],
        [type="button"],
        [type="reset"],
        [role="button"]
    ) {
    opacity: 0.5;
    pointer-events: none;
}
