aside nav,
aside ol,
aside ul,
aside li {
    display: block;
}

aside li {
    padding: calc(var(--nav-element-spacing-vertical) * 0.25)
        var(--nav-element-spacing-horizontal);
}

aside li a {
    display: block;
    font-size: 0.875em;
    color: var(--color-slate-550);
}

aside li [role="button"] {
    margin: inherit;
}

[dir="rtl"] nav[aria-label="breadcrumb"] ul li:not(:last-child) ::after {
    content: "\\";
}
