/* Layout */
html {
    background-color: var(--color-light);
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "aside main toc"
        "footer footer footer";
}

body > header {
    grid-area: header;
    padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
    position: sticky;
    top: 0;
    z-index: 10;
}

body > header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--muted-border-color);
    z-index: -1;
}

body > aside {
    grid-area: aside;
    padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
    position: relative;
}

body > .toc {
    grid-area: toc;
}

body > main {
    grid-area: main;
    padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
    min-width: 0;
}

body > footer {
    grid-area: footer;
    padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
    position: relative;
}

body {
    width: 100%;
    max-width: 1450px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    body > aside {
        display: none;
    }
}

/* Grid */
.grid {
    grid-column-gap: var(--grid-column-gap);
    grid-row-gap: var(--grid-row-gap);
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
    }
}
.grid > * {
    min-width: 0;
}

/* Header group */
hgroup {
    margin-bottom: var(--typography-spacing-vertical);
}
hgroup > * {
    margin-top: 0;
    margin-bottom: 0;
}
hgroup > *:not(:first-child):last-child {
    --color: var(--muted-color);
    --font-weight: unset;
    font-size: 1rem;
}
