/* Typography  */
small {
    --font-size: 0.875em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --font-weight: 700;
    margin-top: 0;
    margin-bottom: var(--typography-spacing-vertical);
    color: var(--color);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: var(--font-family-serif);
}

h1 {
    --color: var(--h1-color);
    --font-size: 2rem;
    --line-height: 1.125;
    --typography-spacing-top: 3rem;
}

h2 {
    --color: var(--h2-color);
    --font-size: 1.75rem;
    --line-height: 1.15;
    --typography-spacing-top: 2.625rem;
}

h3 {
    --color: var(--h3-color);
    --font-size: 1.5rem;
    --line-height: 1.175;
    --typography-spacing-top: 2.25rem;
}

h4 {
    --color: var(--h4-color);
    --font-size: 1.25rem;
    --line-height: 1.2;
    --typography-spacing-top: 1.874rem;
}

h5 {
    --color: var(--h5-color);
    --font-size: 1.125rem;
    --line-height: 1.225;
    --typography-spacing-top: 1.6875rem;
}

h6 {
    --color: var(--h6-color);
    --font-size: 1rem;
    --line-height: 1.25;
    --typography-spacing-top: 1.5rem;
}

thead th,
thead td,
tfoot th,
tfoot td {
    --font-weight: 600;
    --border-width: 0.1875rem;
}

pre,
code,
kbd,
samp {
    --font-family: var(--font-family-monospace);
}

kbd {
    --font-weight: bolder;
}

b,
strong {
    font-weight: bolder;
}

sub,
sup {
    position: relative;
    font-size: 0.75em;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

address,
blockquote,
dl,
ol,
p,
pre,
table,
ul {
    margin-top: 0;
    margin-bottom: var(--typography-spacing-vertical);
    color: var(--color);
    font-style: normal;
    font-weight: var(--font-weight);
}

:where(article, address, blockquote, dl, figure, form, ol, p, pre, table, ul)
    ~ :is(h1, h2, h3, h4, h5, h6) {
    margin-top: var(--typography-spacing-top);
}

p {
    margin-bottom: var(--typography-spacing-vertical);
}

:where(ol, ul) li {
    margin-bottom: calc(var(--typography-spacing-vertical) * 0.25);
}

:where(dl, ol, ul) :where(dl, ol, ul) {
    margin: 0;
    margin-top: calc(var(--typography-spacing-vertical) * 0.25);
}

ul li {
    list-style: circle;
}

mark {
    padding: 0.125rem 0.25rem;
    background-color: var(--mark-background-color);
    color: var(--mark-color);
    vertical-align: baseline;
}

blockquote {
    display: block;
    margin: var(--typography-spacing-vertical) 0;
    padding: var(--spacing);
    border-right: none;
    border-left: 0.25rem solid var(--blockquote-border-color);
    border-inline-start: 0.25rem solid var(--blockquote-border-color);
    border-inline-end: none;
}
blockquote footer {
    margin-top: calc(var(--typography-spacing-vertical) * 0.5);
    color: var(--blockquote-footer-color);
}

abbr[title] {
    border-bottom: 1px dotted;
    text-decoration: none;
    cursor: help;
}

ins {
    color: var(--ins-color);
    text-decoration: none;
}

del {
    color: var(--del-color);
}

::-moz-selection {
    background-color: var(--text-selection-color);
}

::selection {
    background-color: var(--text-selection-color);
}
