/* Loading ([aria-busy=true]) */
[aria-busy="true"]:not(input, select, textarea, html, form) {
    white-space: nowrap;
}
[aria-busy="true"]:not(input, select, textarea, html, form)::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: var(--icon-loading);
    background-size: 1em auto;
    background-repeat: no-repeat;
    content: "";
    vertical-align: -0.125em;
}
[aria-busy="true"]:not(input, select, textarea, html, form):not(
        :empty
    )::before {
    margin-inline-end: calc(var(--spacing) * 0.5);
}
[aria-busy="true"]:not(input, select, textarea, html, form):empty {
    text-align: center;
}

button[aria-busy="true"],
[type="submit"][aria-busy="true"],
[type="button"][aria-busy="true"],
[type="reset"][aria-busy="true"],
[role="button"][aria-busy="true"],
a[aria-busy="true"] {
    pointer-events: none;
}

/* Progress */
progress {
    display: inline-block;
    vertical-align: baseline;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    appearance: none;
    width: 100%;
    height: 0.5rem;
    margin-bottom: calc(var(--spacing) * 0.5);
    overflow: hidden;
    border: 0;
    border-radius: var(--border-radius);
    background-color: var(--progress-background-color);
    color: var(--progress-color);
}
progress::-webkit-progress-bar {
    border-radius: var(--border-radius);
    background: none;
}
progress[value]::-webkit-progress-value {
    background-color: var(--progress-color);
    -webkit-transition: inline-size var(--transition);
    transition: inline-size var(--transition);
}
progress::-moz-progress-bar {
    background-color: var(--progress-color);
}
@media (prefers-reduced-motion: no-preference) {
    progress:indeterminate {
        background: var(--progress-background-color)
            linear-gradient(
                to right,
                var(--progress-color) 30%,
                var(--progress-background-color) 30%
            )
            top left/150% 150% no-repeat;
        animation: progress-indeterminate 1s linear infinite;
    }
    progress:indeterminate[value]::-webkit-progress-value {
        background-color: transparent;
    }
    progress:indeterminate::-moz-progress-bar {
        background-color: transparent;
    }
}

@media (prefers-reduced-motion: no-preference) {
    [dir="rtl"] progress:indeterminate {
        animation-direction: reverse;
    }
}

@keyframes progress-indeterminate {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
