/* Code */
pre,
code,
kbd,
samp {
    font-size: 0.875em;
    font-family: var(--font-family-monospace);
}

pre code,
pre samp {
    font-size: inherit;
    font-family: inherit;
}

pre {
    -ms-overflow-style: scrollbar;
    overflow: auto;
}

pre,
code,
kbd,
samp {
    border-radius: var(--border-radius);
    background: var(--code-background-color);
    color: var(--code-color);
    font-weight: var(--font-weight);
    line-height: initial;
}

code,
kbd,
samp {
    display: inline-block;
    padding: 0.375rem;
}

pre {
    display: block;
    margin-bottom: var(--spacing);
    overflow-x: auto;
}
pre > code,
pre > samp {
    display: block;
    padding: var(--spacing);
    background: none;
    line-height: var(--line-height);
}

kbd {
    background-color: var(--code-kbd-background-color);
    color: var(--code-kbd-color);
    vertical-align: baseline;
}
