/* Checkboxes, Radios & Switches */
label:has([type="checkbox"], [type="radio"]) {
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
}

[type="checkbox"],
[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.25em;
    height: 1.25em;
    margin-top: -0.125em;
    margin-inline-end: 0.5em;
    border-width: var(--border-width);
    vertical-align: middle;
    cursor: pointer;
}
[type="checkbox"]::-ms-check,
[type="radio"]::-ms-check {
    display: none;
}
[type="checkbox"]:checked,
[type="checkbox"]:checked:active,
[type="checkbox"]:checked:focus,
[type="radio"]:checked,
[type="radio"]:checked:active,
[type="radio"]:checked:focus {
    --background-color: var(--primary-background);
    --border-color: var(--primary-border);
    background-image: var(--icon-checkbox);
    background-position: center;
    background-size: 0.75em auto;
    background-repeat: no-repeat;
}
[type="checkbox"] ~ label,
[type="radio"] ~ label {
    display: inline-block;
    margin-bottom: 0;
    cursor: pointer;
}
[type="checkbox"] ~ label:not(:last-of-type),
[type="radio"] ~ label:not(:last-of-type) {
    margin-inline-end: 1em;
}

[type="checkbox"]:indeterminate {
    --background-color: var(--primary-background);
    --border-color: var(--primary-border);
    background-image: var(--icon-minus);
    background-position: center;
    background-size: 0.75em auto;
    background-repeat: no-repeat;
}

[type="radio"] {
    border-radius: 50%;
}
[type="radio"]:checked,
[type="radio"]:checked:active,
[type="radio"]:checked:focus {
    --background-color: var(--primary-inverse);
    border-width: 0.35em;
    background-image: none;
}

[type="checkbox"][role="switch"] {
    --background-color: var(--switch-background-color);
    --color: var(--switch-color);
    width: 2.25em;
    height: 1.25em;
    border: var(--border-width) solid var(--border-color);
    border-radius: 1.25em;
    background-color: var(--background-color);
    line-height: 1.25em;
}
[type="checkbox"][role="switch"]:not([aria-invalid]) {
    --border-color: var(--switch-background-color);
}
[type="checkbox"][role="switch"]:before {
    display: block;
    aspect-ratio: 1;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color);
    box-shadow: var(--switch-thumb-box-shadow);
    content: "";
    transition: margin 0.1s ease-in-out;
}
[type="checkbox"][role="switch"]:focus {
    --background-color: var(--switch-background-color);
    --border-color: var(--switch-background-color);
}
[type="checkbox"][role="switch"]:checked {
    --background-color: var(--switch-checked-background-color);
    --border-color: var(--switch-checked-background-color);
    background-image: none;
}
[type="checkbox"][role="switch"]:checked::before {
    margin-inline-start: calc(2.25em - 1.25em);
}
[type="checkbox"][role="switch"][disabled] {
    --background-color: var(--border-color);
}

[type="checkbox"][aria-invalid="false"]:checked,
[type="checkbox"][aria-invalid="false"]:checked:active,
[type="checkbox"][aria-invalid="false"]:checked:focus,
[type="checkbox"][role="switch"][aria-invalid="false"]:checked,
[type="checkbox"][role="switch"][aria-invalid="false"]:checked:active,
[type="checkbox"][role="switch"][aria-invalid="false"]:checked:focus {
    --background-color: var(--form-element-valid-border-color);
}
[type="checkbox"]:checked[aria-invalid="true"],
[type="checkbox"]:checked:active[aria-invalid="true"],
[type="checkbox"]:checked:focus[aria-invalid="true"],
[type="checkbox"][role="switch"]:checked[aria-invalid="true"],
[type="checkbox"][role="switch"]:checked:active[aria-invalid="true"],
[type="checkbox"][role="switch"]:checked:focus[aria-invalid="true"] {
    --background-color: var(--form-element-invalid-border-color);
}

[type="checkbox"][aria-invalid="false"]:checked,
[type="checkbox"][aria-invalid="false"]:checked:active,
[type="checkbox"][aria-invalid="false"]:checked:focus,
[type="radio"][aria-invalid="false"]:checked,
[type="radio"][aria-invalid="false"]:checked:active,
[type="radio"][aria-invalid="false"]:checked:focus,
[type="checkbox"][role="switch"][aria-invalid="false"]:checked,
[type="checkbox"][role="switch"][aria-invalid="false"]:checked:active,
[type="checkbox"][role="switch"][aria-invalid="false"]:checked:focus {
    --border-color: var(--form-element-valid-border-color);
}
[type="checkbox"]:checked[aria-invalid="true"],
[type="checkbox"]:checked:active[aria-invalid="true"],
[type="checkbox"]:checked:focus[aria-invalid="true"],
[type="radio"]:checked[aria-invalid="true"],
[type="radio"]:checked:active[aria-invalid="true"],
[type="radio"]:checked:focus[aria-invalid="true"],
[type="checkbox"][role="switch"]:checked[aria-invalid="true"],
[type="checkbox"][role="switch"]:checked:active[aria-invalid="true"],
[type="checkbox"][role="switch"]:checked:focus[aria-invalid="true"] {
    --border-color: var(--form-element-invalid-border-color);
}
