/* Input type color */
[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
[type="color"]::-moz-focus-inner {
    padding: 0;
}
[type="color"]::-webkit-color-swatch {
    border: 0;
    border-radius: calc(var(--border-radius) * 0.5);
}
[type="color"]::-moz-color-swatch {
    border: 0;
    border-radius: calc(var(--border-radius) * 0.5);
}

/* Input - Datetime */
input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]):is(
        [type="date"],
        [type="datetime-local"],
        [type="month"],
        [type="time"],
        [type="week"]
    ) {
    --icon-position: 0.75rem;
    --icon-width: 1rem;
    padding-right: calc(var(--icon-width) + var(--icon-position));
    background-image: var(--icon-date);
    background-position: center right var(--icon-position);
    background-size: var(--icon-width) auto;
    background-repeat: no-repeat;
}
input:not(
        [type="checkbox"],
        [type="radio"],
        [type="range"],
        [type="file"]
    )[type="time"] {
    background-image: var(--icon-time);
}

[type="date"]::-webkit-calendar-picker-indicator,
[type="datetime-local"]::-webkit-calendar-picker-indicator,
[type="month"]::-webkit-calendar-picker-indicator,
[type="time"]::-webkit-calendar-picker-indicator,
[type="week"]::-webkit-calendar-picker-indicator {
    width: var(--icon-width);
    margin-right: calc(var(--icon-width) * -1);
    margin-left: var(--icon-position);
    opacity: 0;
}

@-moz-document url-prefix() {
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="time"],
    [type="week"] {
        padding-right: var(--form-element-spacing-horizontal) !important;
        background-image: none !important;
    }
}
[dir="rtl"]
    :is(
        [type="date"],
        [type="datetime-local"],
        [type="month"],
        [type="time"],
        [type="week"]
    ) {
    text-align: right;
}

/* Input - File */
[type="file"] {
    --color: var(--muted-color);
    margin-left: calc(var(--outline-width) * -1);
    padding: calc(var(--form-element-spacing-vertical) * 0.5) 0;
    padding-left: var(--outline-width);
    border: 0;
    border-radius: 0;
    background: none;
}
[type="file"]::file-selector-button {
    margin-right: calc(var(--spacing) / 2);
    padding: calc(var(--form-element-spacing-vertical) * 0.5)
        var(--form-element-spacing-horizontal);
}
[type="file"]:is(:hover, :active, :focus)::file-selector-button {
    --background-color: var(--secondary-hover-background);
    --border-color: var(--secondary-hover-border);
}
[type="file"]:focus::file-selector-button {
    --box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
        0 0 0 var(--outline-width) var(--secondary-focus);
}

/* Input - Range */
[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 1.25rem;
    background: none;
}
[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.375rem;
    border-radius: var(--border-radius);
    background-color: var(--range-border-color);
    -webkit-transition: background-color var(--transition),
        box-shadow var(--transition);
    transition: background-color var(--transition), box-shadow var(--transition);
}
[type="range"]::-moz-range-track {
    width: 100%;
    height: 0.375rem;
    border-radius: var(--border-radius);
    background-color: var(--range-border-color);
    -moz-transition: background-color var(--transition),
        box-shadow var(--transition);
    transition: background-color var(--transition), box-shadow var(--transition);
}
[type="range"]::-ms-track {
    width: 100%;
    height: 0.375rem;
    border-radius: var(--border-radius);
    background-color: var(--range-border-color);
    -ms-transition: background-color var(--transition),
        box-shadow var(--transition);
    transition: background-color var(--transition), box-shadow var(--transition);
}
[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -0.4375rem;
    border: 2px solid var(--range-thumb-border-color);
    border-radius: 50%;
    background-color: var(--range-thumb-color);
    cursor: pointer;
    -webkit-transition: background-color var(--transition),
        transform var(--transition);
    transition: background-color var(--transition), transform var(--transition);
}
[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -0.4375rem;
    border: 2px solid var(--range-thumb-border-color);
    border-radius: 50%;
    background-color: var(--range-thumb-color);
    cursor: pointer;
    -moz-transition: background-color var(--transition),
        transform var(--transition);
    transition: background-color var(--transition), transform var(--transition);
}
[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -0.4375rem;
    border: 2px solid var(--range-thumb-border-color);
    border-radius: 50%;
    background-color: var(--range-thumb-color);
    cursor: pointer;
    -ms-transition: background-color var(--transition),
        transform var(--transition);
    transition: background-color var(--transition), transform var(--transition);
}
[type="range"]:active,
[type="range"]:focus-within {
    --range-border-color: var(--range-active-border-color);
    --range-thumb-color: var(--range-thumb-active-color);
}
[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.25);
}
[type="range"]:active::-moz-range-thumb {
    transform: scale(1.25);
}
[type="range"]:active::-ms-thumb {
    transform: scale(1.25);
}

/* Input - Search */
input:not(
        [type="checkbox"],
        [type="radio"],
        [type="range"],
        [type="file"]
    )[type="search"] {
    padding-inline-start: calc(
        var(--form-element-spacing-horizontal) + 1.75rem
    );
    background-image: var(--icon-search);
    background-position: center left
        calc(var(--form-element-spacing-horizontal) + 0.125rem);
    background-size: 1rem auto;
    background-repeat: no-repeat;
}
input:not(
        [type="checkbox"],
        [type="radio"],
        [type="range"],
        [type="file"]
    )[type="search"][aria-invalid] {
    padding-inline-start: calc(
        var(--form-element-spacing-horizontal) + 1.75rem
    ) !important;
    background-position: center left 1.125rem, center right 0.75rem;
}
input:not(
        [type="checkbox"],
        [type="radio"],
        [type="range"],
        [type="file"]
    )[type="search"][aria-invalid="false"] {
    background-image: var(--icon-search), var(--icon-valid);
}
input:not(
        [type="checkbox"],
        [type="radio"],
        [type="range"],
        [type="file"]
    )[type="search"][aria-invalid="true"] {
    background-image: var(--icon-search), var(--icon-invalid);
}

[dir="rtl"]
    :where(input):not(
        [type="checkbox"],
        [type="radio"],
        [type="range"],
        [type="file"]
    )[type="search"] {
    background-position: center right 1.125rem;
}
[dir="rtl"]
    :where(input):not(
        [type="checkbox"],
        [type="radio"],
        [type="range"],
        [type="file"]
    )[type="search"][aria-invalid] {
    background-position: center right 1.125rem, center left 0.75rem;
}
