/* Color ramps https://colorampgen.vercel.app/ */

/* Light */
[data-theme="light"],
:root:not([data-theme="dark"]),
:host(:not([data-theme="dark"])) {
    color-scheme: light;
    --white: #ffffff;
    --black: #000000;
    --white-static: #ffffff;
    --black-static: #000000;
    --grey-0: #f7f7f7;
    --grey-1: #eeeeee;
    --grey-2: #dddddd;
    --grey-3: #cdcdcd;
    --grey-4: #bcbcbc;
    --grey-5: #ababab;
    --grey-6: #898989;
    --grey-7: #676767;
    --grey-8: #444444;
    --grey-9: #222222;
    --blue-0: #ecf1fe;
    --blue-1: #d8e3fd;
    --blue-2: #b1c6fc;
    --blue-3: #8aaafa;
    --blue-4: #638df9;
    --blue-5: #3c71f7;
    --blue-6: #305ac6;
    --blue-7: #244494;
    --blue-8: #182d63;
    --blue-9: #0c1731;
    --green-0: #e6f3ef;
    --green-1: #cce7de;
    --green-2: #99d0bd;
    --green-3: #66b89c;
    --green-4: #33a17b;
    --green-5: #00895a;
    --green-6: #006e48;
    --green-7: #005236;
    --green-8: #003724;
    --green-9: #001b12;
    --red-0: #fbece8;
    --red-1: #f6d9d1;
    --red-2: #edb4a2;
    --red-3: #e48e74;
    --red-4: #db6945;
    --red-5: #d24317;
    --red-6: #a83612;
    --red-7: #7e280e;
    --red-8: #541b09;
    --red-9: #2a0d05;
    --yellow-0: #fefce7;
    --yellow-1: #fcf9cf;
    --yellow-2: #faf29e;
    --yellow-3: #f7ec6e;
    --yellow-4: #f5e53d;
    --yellow-5: #f2df0d;
    --yellow-6: #c2b20a;
    --yellow-7: #918608;
    --yellow-8: #615905;
    --yellow-9: #302d03;
    --shadow-1: hsla(0, 0%, 0%, 0.1);
    --shadow-2: hsla(0, 0%, 0%, 0.2);
    --shadow-3: hsla(0, 0%, 0%, 0.3);
    --shadow-4: hsla(0, 0%, 0%, 0.4);
    --shadow-5: hsla(0, 0%, 0%, 0.5);
    --shadow-6: hsla(0, 0%, 0%, 0.6);
    --shadow-7: hsla(0, 0%, 0%, 0.7);
    --shadow-8: hsla(0, 0%, 0%, 0.8);
    --shadow-9: hsla(0, 0%, 0%, 0.9);
}

/* Dark (automatic) */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]),
    :host(:not([data-theme])) {
        color-scheme: dark;
        --white: #000000;
        --black: #ffffff;
        --white-static: #ffffff;
        --black-static: #000000;
        --grey-9: #f7f7f7;
        --grey-8: #eeeeee;
        --grey-7: #dddddd;
        --grey-6: #cdcdcd;
        --grey-5: #bcbcbc;
        --grey-5: #ababab;
        --grey-3: #898989;
        --grey-2: #676767;
        --grey-1: #444444;
        --grey-0: #222222;
        --blue-9: #ecf1fe;
        --blue-8: #d8e3fd;
        --blue-7: #b1c6fc;
        --blue-6: #8aaafa;
        --blue-5: #638df9;
        --blue-4: #3c71f7;
        --blue-3: #305ac6;
        --blue-2: #244494;
        --blue-1: #182d63;
        --blue-0: #0c1731;
        --green-9: #e6f3ef;
        --green-8: #cce7de;
        --green-7: #99d0bd;
        --green-6: #66b89c;
        --green-5: #33a17b;
        --green-4: #00895a;
        --green-3: #006e48;
        --green-2: #005236;
        --green-1: #003724;
        --green-0: #001b12;
        --red-9: #fbece8;
        --red-8: #f6d9d1;
        --red-7: #edb4a2;
        --red-6: #e48e74;
        --red-5: #db6945;
        --red-4: #d24317;
        --red-3: #a83612;
        --red-2: #7e280e;
        --red-1: #541b09;
        --red-0: #2a0d05;
        --yellow-9: #fefce7;
        --yellow-8: #fcf9cf;
        --yellow-7: #faf29e;
        --yellow-6: #f7ec6e;
        --yellow-5: #f5e53d;
        --yellow-4: #f2df0d;
        --yellow-3: #c2b20a;
        --yellow-2: #918608;
        --yellow-1: #615905;
        --yellow-0: #302d03;
        --shadow-1: hsla(0, 0%, 0%, 0.1);
        --shadow-2: hsla(0, 0%, 0%, 0.2);
        --shadow-3: hsla(0, 0%, 0%, 0.3);
        --shadow-4: hsla(0, 0%, 0%, 0.4);
        --shadow-5: hsla(0, 0%, 0%, 0.5);
        --shadow-6: hsla(0, 0%, 0%, 0.6);
        --shadow-7: hsla(0, 0%, 0%, 0.7);
        --shadow-8: hsla(0, 0%, 0%, 0.8);
        --shadow-9: hsla(0, 0%, 0%, 0.9);
    }
}

/* Dark (manual) */
[data-theme="dark"] {
    color-scheme: dark;
    --white: #000000;
    --black: #ffffff;
    --white-static: #ffffff;
    --black-static: #000000;
    --grey-9: #f7f7f7;
    --grey-8: #eeeeee;
    --grey-7: #dddddd;
    --grey-6: #cdcdcd;
    --grey-5: #bcbcbc;
    --grey-5: #ababab;
    --grey-3: #898989;
    --grey-2: #676767;
    --grey-1: #444444;
    --grey-0: #222222;
    --blue-9: #ecf1fe;
    --blue-8: #d8e3fd;
    --blue-7: #b1c6fc;
    --blue-6: #8aaafa;
    --blue-5: #638df9;
    --blue-4: #3c71f7;
    --blue-3: #305ac6;
    --blue-2: #244494;
    --blue-1: #182d63;
    --blue-0: #0c1731;
    --green-9: #e6f3ef;
    --green-8: #cce7de;
    --green-7: #99d0bd;
    --green-6: #66b89c;
    --green-5: #33a17b;
    --green-4: #00895a;
    --green-3: #006e48;
    --green-2: #005236;
    --green-1: #003724;
    --green-0: #001b12;
    --red-9: #fbece8;
    --red-8: #f6d9d1;
    --red-7: #edb4a2;
    --red-6: #e48e74;
    --red-5: #db6945;
    --red-4: #d24317;
    --red-3: #a83612;
    --red-2: #7e280e;
    --red-1: #541b09;
    --red-0: #2a0d05;
    --yellow-9: #fefce7;
    --yellow-8: #fcf9cf;
    --yellow-7: #faf29e;
    --yellow-6: #f7ec6e;
    --yellow-5: #f5e53d;
    --yellow-4: #f2df0d;
    --yellow-3: #c2b20a;
    --yellow-2: #918608;
    --yellow-1: #615905;
    --yellow-0: #302d03;
    --shadow-1: hsla(0, 0%, 0%, 0.1);
    --shadow-2: hsla(0, 0%, 0%, 0.2);
    --shadow-3: hsla(0, 0%, 0%, 0.3);
    --shadow-4: hsla(0, 0%, 0%, 0.4);
    --shadow-5: hsla(0, 0%, 0%, 0.5);
    --shadow-6: hsla(0, 0%, 0%, 0.6);
    --shadow-7: hsla(0, 0%, 0%, 0.7);
    --shadow-8: hsla(0, 0%, 0%, 0.8);
    --shadow-9: hsla(0, 0%, 0%, 0.9);
}
