/* Fonts */

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    line-height: 1.6;
}

p,
li,
.paragraph {
    font-size: 1rem; /* 16px */
    line-height: 1.5;
    margin-bottom: 1em;
}

small,
.small {
    font-size: 0.875rem; /* 14px */
    line-height: 1.5;
}

h1,
.heading-1 {
    color: var(--blue-8);
    font-size: 2.5rem; /* 40px */
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 0.5em;
}

h2,
.heading-2 {
    color: var(--blue-7);
    font-size: 2rem; /* 32px */
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

h3,
.heading-3 {
    color: var(--blue-6);
    font-size: 1.75rem; /* 28px */
    line-height: 1.2;
    margin-bottom: 0.5em;
}

h4,
.heading-4 {
    color: var(--blue-5);
    font-size: 1.5rem; /* 24px */
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: 0.5em;
}

h5,
.heading-5 {
    font-size: 1.25rem; /* 20px */
    font-weight: 800;
    line-height: 1.4;
    margin-bottom: 0.5em;
}

h6,
.heading-6 {
    font-size: 1rem; /* 16px */
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 0.5em;
}

@media (max-width: 1080px) {
    h1,
    .heading-1 {
        font-size: 2.25rem; /* 36px */
    }
    h2,
    .heading-2 {
        font-size: 1.875rem; /* 30px */
    }
    h3,
    .heading-3 {
        font-size: 1.625rem; /* 26px */
    }
}

@media (max-width: 720px) {
    h1,
    .heading-1 {
        font-size: 2rem; /* 32px */
    }
    h2,
    .heading-2 {
        font-size: 1.75rem; /* 28px */
    }
    h3,
    .heading-3 {
        font-size: 1.5rem; /* 24px */
    }
    h4,
    .heading-4 {
        font-size: 1.25rem; /* 20px */
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.938rem; /* 15px */
    }
    h1,
    .heading-1 {
        font-size: 1.75rem; /* 28px */
    }
    h2,
    .heading-2 {
        font-size: 1.5rem; /* 24px */
    }
    h3,
    .heading-3 {
        font-size: 1.25rem; /* 20px */
    }
    h4,
    .heading-4 {
        font-size: 1.125rem; /* 18px */
    }
    h5,
    .heading-5 {
        font-size: 1rem; /* 16px */
    }
}
b,
strong {
    font-weight: bolder;
}
