/* Layout */

html {
    background-color: var(--white);
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    max-width: 1440px;
    display: grid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    margin: 0 auto;
}

body:has(aside) {
    grid-template-columns: 240px 1fr 240px;
    grid-template-areas:
        "header header header"
        "aside main toc"
        "footer footer footer";
}

@media (max-width: 768px) {
    body:has(aside) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    aside,
    .toc {
        display: none;
    }
}

body > header {
    grid-area: header;
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 10;
}

body > header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max(100vw, 1440px);
    background-color: var(--white);
    border-bottom: 1px solid var(--grey-2);
    z-index: -1;
}

body > main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1.5rem;
    anchor-name: --main;
}

body > footer {
    position: relative;
    grid-area: footer;
    padding: 1rem;
    z-index: 10;
}

body > footer::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max(100vw, 1440px);
    background-color: var(--grey-0);
    border-top: solid 1px var(--grey-1);
    z-index: -1;
}

aside {
    grid-area: aside;
    max-height: 100vh;

    align-self: start;
    padding: 1rem;
    overflow-y: auto;
    border-right: solid 1px var(--border-subtle);
}

.toc {
    grid-area: toc;
    padding: 1rem;
    border-left: solid 1px var(--border-subtle);
    border-right: none;
}

@supports (anchor-name: --main) {
    aside {
        position: fixed;
        top: anchor(--main top);
    }
    .toc {
        left: anchor(--main right);
    }
}

main > header {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

main > header .heading-6 {
    text-transform: uppercase;
    font-weight: 400;
}

main > header * {
    margin: 0;
}

nav ol,
nav ul,
nav li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    unicode-bidi: isolate;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

nav a {
    color: var(--grey-8);
    display: flex;
    gap: 4px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ol,
header nav ul,
header nav li {
    flex-direction: row;
    align-items: center;
}
