/* Layout */

html {
    background-color: var(--green-0);
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

body > header {
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 10;
}

body > header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    width: max(100vw, 1280px);
    min-width: 100%;
    background-color: var(--green-0);
    border-bottom: solid 1px var(--green-1);
    z-index: -1;
}

body > main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem 1rem;
    gap: 1.5rem;
    anchor-name: --main;
}

body > footer {
    position: relative;
    padding: 1rem;
    z-index: 10;
}

body > footer::before {
    content: "";
    position: absolute;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--green-0);
    z-index: -1;
}

main > header {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

main > header .heading-6 {
    text-transform: uppercase;
    font-weight: 400;
}

main > header * {
    margin: 0;
}

nav a {
    color: var(--grey-8);
    display: flex;
    gap: 4px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ol,
header nav ul,
header nav li {
    flex-direction: row;
    align-items: center;
}

nav ol,
nav ul,
nav li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    unicode-bidi: isolate;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}
