{{ define "main" }}

<main>
    <!-- Header -->
    <header>
        <h1 class="heading-6"><a href="/work/">Work</a> / {{ .Title }}</h1>
        {{ with .Params.Subtitle }}
        <h2 class="heading-1">{{ . }}</h2>
        {{ end }}

        <!-- Services -->
        {{ with .Params.Services}}
        <nav>
            <ul class="services">
                {{ range . }} {{ $class := index
                $.Site.Params.taxonomies.services . }}
                <li class="service-tag {{ $class }}">
                    <small>{{ . }}</small>
                </li>
                {{ end }}
            </ul>
        </nav>
        {{ end }}
    </header>

    <!-- Markdown -->
    {{ with .Content }}
    <section>{{ . }}</section>
    {{ end }}

    <!-- Next page -->
    {{ with .PrevInSection }}
    <section>
        <h4>Next:</h4>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </section>
    {{ end }}
</main>

{{ end }}
