<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Title -->
        {{ with .Title }}
        <title>{{ . }}</title>
        {{ end }}

        <!-- Description -->
        {{ with .Description }}
        <meta name="description" content="{{ . }}" />
        {{ end }}

        <!-- Favicon -->
        {{ with resources.Get "favicon.png" }} {{ $favicon := .Fill "48x48 png"
        }}
        <link
            rel="icon"
            type="image/x-icon"
            href="{{ $favicon.RelPermalink }}"
        />
        {{ end }}

        <!-- CSS -->
        {{ with resources.Match "css/**.css" }} {{ $css := . | resources.Concat
        "main.css" | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $css.RelPermalink }}" media="all" />
        {{ end }}

        <!-- Inter font -->
        <link rel="preconnect" href="https://rsms.me/" />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

        <!-- Google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap"
        />
    </head>

    <body>
        <!-- Header -->
        <header>
            <nav>
                <ul>
                    <li>
                        <a class="contrast wordmark" href="/"
                            ><strong>{{ .Site.Title }}</strong></a
                        >
                    </li>
                </ul>
                <ul>
                    {{ with .Site.GetPage "/" }}
                    <ul>
                        {{ range .Pages }}
                        <li>
                            <a href="{{ .RelPermalink}}">{{ .Title }}</a>
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </ul>
            </nav>
        </header>

        <!-- Page -->
        {{ block "page" . }}{{ end }}

        <!-- Footer -->
        <footer>Footer</footer>
    </body>
</html>
