{{ define "main" }}
<main>
    <!-- Header -->
    <header>
        <h1 class="heading-6">{{ .Title }}</h1>
        <h2 class="heading-1">
            This is a smart way of saying what Camino is all about
        </h2>
    </header>

    <!-- Featured pages -->
    {{ with .RegularPagesRecursive }}
    <section>
        <header>
            <h2>Featured Pages:</h2>
        </header>
        <nav>
            <ul>
                {{ range . }} {{ if .Params.Featured }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }} {{ else }}{{ end }}
            </ul>
        </nav>
    </section>
    {{ end }}

    <!-- Markdown -->
    {{ with .Content }}
    <section>{{ . }}</section>
    {{ end }}
</main>
{{ end }}
