{{ define "page" }}
<main>
    <!-- Header -->
    <section>
        <h1>{{ .Title }}</h1>
    </section>

    <!-- Featured pages -->
    {{ with .RegularPagesRecursive }}
    <section>
        <header>
            <h2>Featured Pages:</h2>
        </header>
        <nav>
            <ul>
                {{ range . }} {{ if .Params.Featured }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }} {{ else }}{{ end }}
            </ul>
        </nav>
    </section>
    {{ end }}

    <!-- Markdown -->
    {{ with .Content }}
    <section>{{ . }}</section>
    {{ end }}
</main>
{{ end }}
