{{ define "page" }}
<main>
    <!-- Header -->
    <header>
        <h1>{{ .Title }}</h1>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="#">Grandparent</a> /</li>
                <li><a href="#">Parent</a> /</li>
                <li>Page</li>
            </ul>
        </nav>
    </header>

    <!-- Featured pages -->
    {{ with .RegularPagesRecursive }}
    <section>
        <header>
            <h2>Featured Pages:</h2>
        </header>
        <nav>
            <ul>
                {{ range . }} {{ if .Params.Featured }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }} {{ else }}{{ end }}
            </ul>
        </nav>
    </section>
    {{ end }}

    <!-- Markdown -->
    {{ with .Content }}
    <section>{{ . }}</section>
    {{ end }}
</main>
{{ end }}
