{{ define "main" }}
<main>
    <!-- Header -->
    <header>
        {{ with .Title }}
        <h1 class="heading-6">{{ . }}</h1>
        {{ end }} {{ with .Params.Subtitle }}
        <h2 class="heading-1">{{ . }}</h2>
        {{ end }} {{ with .Description }}
        <p>{{ . }}</p>
        {{ end }}
        <!-- Services -->
        <nav>
            <ul class="services">
                <li>
                    {{ if .IsHome }}
                    <a class="service-tag active" href="/"
                        ><small>All Work</small></a
                    >
                    {{ else }}
                    <a class="service-tag" href="/"><small>All Work</small></a>
                    {{ end }}
                </li>
                {{ range $name, $taxonomy := .Site.Taxonomies.services }} {{
                $class := index $.Site.Params.taxonomies.services $name }} {{
                $active := "" }} {{ if eq $taxonomy.Page.Permalink $.Permalink
                }} {{ $active = "active" }} {{ end }}
                <a
                    class="service-tag {{ $class }} {{ $active }}"
                    href="{{ $taxonomy.Page.Permalink }}"
                >
                    <small>{{ $taxonomy.Page.Title }}</small>
                </a>
                {{ end }}
            </ul>
        </nav>
    </header>

    <!-- List pages -->
    {{ partial "work-list.html" . }}
</main>
{{ end }}
