{{ define "main" }}
<main>
    <!-- Header -->
    <header>
        <h1 class="heading-6">A Creative Agency</h1>
        <h2 class="heading-1">
            Take a look at our spectacular work, spanning many clients and
            services.
        </h2>
        <!-- Services -->
        <nav>
            <ul class="services">
                <li>
                    {{ if .IsHome }}
                    <a class="service-tag active" href="/"
                        ><small>All Work</small></a
                    >
                    {{ else }}
                    <a class="service-tag" href="/"><small>All Work</small></a>
                    {{ end }}
                </li>
                {{ range $name, $taxonomy := .Site.Taxonomies.services }} {{
                $class := index $.Site.Params.taxonomies.services $name }} {{
                $active := "" }} {{ if eq $taxonomy.Page.Permalink $.Permalink
                }} {{ $active = "active" }} {{ end }}
                <a
                    class="service-tag {{ $class }} {{ $active }}"
                    href="{{ $taxonomy.Page.Permalink }}"
                >
                    <small>{{ $taxonomy.Page.Title }}</small>
                </a>
                {{ end }}
            </ul>
        </nav>
    </header>

    <!-- List Pages -->

    {{ $paginator := .Paginator }} {{ with $paginator.Pages }}
    <nav>
        <ul class="work-list">
            {{ range . }}
            <!-- Work Item -->
            <li>
                <a
                    class="work-item"
                    href="{{ .RelPermalink }}"
                    data-theme="light"
                >
                    <header>
                        <!-- Title -->
                        <p class="title">{{ .Title }}</p>
                        <!-- Description -->
                        {{ with .Params.Subtitle }}
                        <h4 class="subtitle heading-3">{{ . }}</h4>
                        {{ end }}
                    </header>

                    <!-- Services -->
                    {{ with .Params.Services}}
                    <footer>
                        {{ range . }} {{ $class := index
                        $.Site.Params.taxonomies.services . }}
                        <p class="service-tag {{ $class }}">
                            <small>{{ . }}</small>
                        </p>
                        {{ end }}
                    </footer>
                    {{ end }}

                    <!-- Cover image -->
                    {{ $src := "cover/" }} {{ range .Page.Resources.ByType
                    "image" }} {{ if strings.Contains .Title $src }} {{ $src :=
                    .Resize "640x webp q90" }} {{ $name := strings.TrimSuffix
                    (path.Ext .Name) .Name }} {{ $name_fmt := humanize $name}}
                    <img
                        class="cover-img"
                        src="{{ $src.RelPermalink }}"
                        width="320"
                        height="auto"
                        alt="{{ $name_fmt }}"
                    />
                    {{else}} {{ end }} {{ end }}

                    <!-- Background image-->
                    {{ $src := "background/" }} {{ range .Page.Resources.ByType
                    "image" }} {{ if strings.Contains .Title $src }} {{ $src :=
                    .Resize "800x webp q90" }} {{ $name := strings.TrimSuffix
                    (path.Ext .Name) .Name }} {{ $name_fmt := humanize $name}}
                    <img
                        class="background-img"
                        src="{{ $src.RelPermalink }}"
                        width="400px"
                        height="auto"
                        alt="{{ $name_fmt }}"
                    />
                    {{else}} {{ end }} {{ end }}
                </a>
            </li>

            {{ end }}
        </ul>
    </nav>
    {{ end }}

    <!-- Pagination-->
    {{ $paginator := .Paginator }} {{ if gt $paginator.TotalPages 1 }}
    <footer class="pagination">
        <nav>
            {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}">←</a>
            {{ else }}
            <p>←</p>
            {{ end }} {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}">→</a>
            {{ else }}
            <p>→</p>
            {{ end }}
        </nav>
        <p>Page {{ $paginator.PageNumber }} of {{ $paginator.TotalPages }}</p>
    </footer>
    {{ end }}
</main>
{{ end }}
