{{ define "page" }}
<main>
    <!-- Header -->
    <header>
        <h1>{{ .Title }}</h1>
    </header>

    <!-- Range child pages -->
    {{ with .Data.Pages }}
    <section>
        <h2>Child Pages:</h2>
        <nav>
            <ul>
                {{ range . }} {{ if .Params.Featured }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }} {{ else }}{{ end }}
            </ul>
        </nav>
    </section>
    {{ end }}

    <!-- Markdown -->
    {{ with .Content }}
    <section>{{ . }}</section>
    {{ end }}
</main>
{{ end }}
