{{ define "main" }}
<main>
    <!-- Header -->
    <header>
        <h1 class="heading-1">
            Take a look at our spectacular work, spanning many services and
            clients.
        </h1>
        <!-- Services -->
        <nav>
            <ul class="services">
                <li>
                    {{ if .IsHome }}
                    <a class="service-tag active" href="/"
                        ><small>All Work</small></a
                    >
                    {{ else }}
                    <a class="service-tag" href="/"><small>All Work</small></a>
                    {{ end }}
                </li>
                <li>
                    <a
                        class="service-tag service-ux-design"
                        href="/services/ux-design"
                    >
                        <small>UX Design</small>
                    </a>
                </li>
                <li>
                    <a
                        class="service-tag service-web-development"
                        href="/services/web-development"
                    >
                        <small>Web Development</small>
                    </a>
                </li>
                <li>
                    <a
                        class="service-tag service-messaging"
                        href="/services/messaging"
                    >
                        <small>Messaging</small>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- List pages -->
    {{ partial "work-list.html" . }}
</main>
{{ end }}
