/* Elements */
*,
*::before,
*::after {
    box-sizing: border-box;
    background-repeat: no-repeat;
}

::before,
::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

html {
    background-color: var(--background-display);
}

button,
[type="submit"],
[type="reset"],
[type="button"],
[type="file"]::file-selector-button,
[role="button"] {
    color: var(--text-button);
    background-color: var(--background-button);
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    display: flex;
    padding: 0.75rem 1rem;
    margin: 0;
    gap: 1rem;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

pre,
code,
kbd,
samp {
    font-size: 1rem;
    font-family: inherit;
}

pre code,
pre samp {
    font-size: inherit;
    font-family: inherit;
}

pre {
    -ms-overflow-style: scrollbar;
    overflow: auto;
}

pre,
code,
kbd,
samp {
    border-radius: 0.5rem;
    background: var(--background-subtle);
    outline: solid 1px var(--border-subtle);
    color: var(--text-display);
    font-weight: 400;
    line-height: initial;
}

code,
kbd,
samp {
    display: inline-block;
    padding: 0.375rem;
}

pre {
    display: block;
    margin-bottom: 1rem;
    overflow-x: auto;
}
pre > code,
pre > samp {
    display: block;
    padding: 1rem;
    background: none;
    line-height: 1.5;
}

kbd {
    background-color: var(--background-invert);
    color: var(--text-invert);
    vertical-align: baseline;
}
