.gallery {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 4rem;
}

.gallery-text {
    position: sticky;
    top: 0;
    max-width: 400px;
    margin-bottom: 1rem;
}

.gallery-images {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.gallery-images img {
    border-radius: 4px;
    border: solid 1px var(--green-1);
    box-shadow: var(--shadow-1) 0px 8px 24px;
    box-shadow: none;
}

@media (max-width: 840px) {
    .gallery {
        flex-direction: column;
        order: 1;
    }

    .gallery-text {
        position: relative;
        top: 0;
        max-width: 100%;
        order: -1;
    }
}
