/* Navigation */

nav ol,
nav ul,
nav li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    unicode-bidi: isolate;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

nav a {
    color: var(--grey-8);
    display: flex;
    gap: 4px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ol,
header nav ul,
header nav li {
    flex-direction: row;
    align-items: center;
}
