.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.pagination > nav {
    display: flex;
    gap: 1rem;
}

.pagination > nav > p {
    color: var(--grey-6);
    line-height: 1;
    margin: 0;
}

.pagination > nav > a {
    color: var(--blue-6);
    line-height: 1;
    margin: 0;
}

.pagination > p {
    color: var(--grey-8);
}
