.services {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.service-tag {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--white);
    display: inline-block;
    padding: 0.25rem 0.75rem;
    background-color: var(--blue-5);
    border-radius: 0.375rem;
}

.service-web {
    background-color: red;
}

.service-branding {
    background-color: green;
}

.service-product {
    background-color: black;
}
