.service-tag {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--white);
    display: inline-block;
    padding: 0.25rem 0.75rem;
    background-color: var(--black);
    border-radius: 0.375rem;
}

.service-ux-design {
    background-color: var(--blue-5);
}

.service-web-development {
    background-color: var(--green-5);
}

.service-messaging {
    background-color: var(--grey-8);
}
