.services {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    border-radius: 0.375rem;
}

.service-tag {
    color: var(--grey-0);
    display: inline-block;
    align-items: center;
    padding: 0.25rem 0.75rem;
    background-color: var(--grey-8);
    border-radius: 0.375rem;
    transition: all 0.2s ease;
}

a.service-tag:hover,
a.service-tag:focus {
    transition: all 0.2s ease;
}

.active {
    text-decoration: underline;
    text-underline-offset: 0.125rem;
}

.service-ux-design {
    color: var(--white-static);
    background-color: var(--blue-5);
}

.service-web-development {
    color: var(--white-static);
    background-color: var(--green-5);
}

.service-messaging {
    color: var(--black-static);
    background-color: var(--yellow-4);
}
