.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1rem;
    align-items: stretch;
    justify-content: stretch;
}

.work-item {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--blue-2);
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
}

.work-item:hover,
.work-item:focus {
    box-shadow: rgba(149, 157, 165, 0.3) 0px 12px 32px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.work-item:hover .cover-img {
    bottom: -4px;
    transition: all 0.2s ease;
}

.work-item header {
    z-index: 5;
    padding: 1rem;
    background: linear-gradient(hsla(240, 0%, 0%, 0.5), transparent);
}

.work-item header * {
    color: var(--white-static);
    margin: 0;
}

.work-item header .heading-4 {
    font-weight: 800;
    line-height: 1.25;
}

.work-item footer {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 0.5rem;
    z-index: 4;
}

.work-item footer * {
    margin: 0;
}

.cover-img {
    position: absolute;
    right: -4px;
    bottom: -8px;
    border-radius: 4px;
    height: 50%;
    width: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.2s ease;
    z-index: 3;
}

.background-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: auto;
    z-index: 1;
    filter: brightness(0.65);
}
