.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    align-items: stretch;
    justify-content: stretch;
    gap: 1.5rem;
}

.work-item {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--blue-2);
    box-shadow: var(--shadow-2) 0px 8px 18px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
}

.work-item:hover,
.work-item:focus {
    box-shadow: var(--shadow-2) 0px 12px 32px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.work-item header {
    z-index: 5;
    padding: 1rem;
    background: linear-gradient(var(--shadow-6), transparent);
}

.work-item .title {
    color: var(--white-static);
    margin: 0;
    text-shadow: var(--shadow-6) 2px 2px 24px;
}

.work-item .subtitle {
    color: var(--white-static);
    line-height: 1.125;
    margin: 0;
    text-shadow: var(--shadow-6) 2px 2px 24px;
}

.work-item footer {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 0.5rem;
    z-index: 4;
}

.work-item footer * {
    margin: 0;
}

.cover-img {
    position: absolute;
    right: -4px;
    bottom: -8px;
    border-radius: 8px 0px 0px 0px;
    height: 60%;
    width: auto;
    box-shadow: var(--shadow-2) 0px 8px 24px;
    transition: all 0.2s ease;
    z-index: 3;
}

.work-item:hover .cover-img {
    bottom: -4px;
    transition: all 0.2s ease;
}

.background-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.75) saturate(0.5);
