.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    align-items: stretch;
    justify-content: stretch;
    gap: 1.5rem;
}

.work-item {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(var(--blue-5), var(--blue-4));
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
}

.work-item:hover,
.work-item:focus {
    box-shadow: var(--shadow-1) 0px 8px 18px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.work-item header {
    z-index: 5;
    padding: 1rem;
}

.work-item .title {
    color: var(--blue-1);
    margin: 0;
    text-shadow: var(--shadow-5) 2px 2px 24px;
    text-transform: uppercase;
}

.work-item .subtitle {
    color: var(--blue-0);
    margin: 0;
    text-shadow: var(--shadow-6) 2px 2px 24px;
    text-transform: capitalize;
}

.work-item footer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
    z-index: 4;
    transition: all 0.2s ease;
}

.work-item footer * {
    margin: 0;
}

.work-item .cover-img {
    position: absolute;
    bottom: 0;
    border-radius: 8px 0px 0px 0px;
    width: 80%;
    height: auto;
    right: 0;
    bottom: 0;
    aspect-ratio: 10/7;
    object-fit: cover;
    object-position: top left;
    transition: all 0.2s ease;
    z-index: 3;
}

.work-item:hover .cover-img {
    bottom: -8px;
    transition: all 0.2s ease;
}

.work-item .background-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.75) saturate(0.75);
    opacity: 1;
}
