/* FUNCTIONAL COLOR VARIABLES */

/* Light */
[data-theme="light"],
:root:not([data-theme="dark"]),
:host(:not([data-theme="dark"])) {
    color-scheme: light;
    --background-display: #ffffff;
    --background-subtle: var(--grey-0);
    --background-info: var(--blue-1);
    --text-display: var(--grey-9);
    --text-success: var(--blue-7);
    --text-success: var(--green-6);
    --text-alert: var(--red-6);
    --border-display: var(--grey-9);
    --border-subtle: var(--grey-2);
}

/* Dark - automatic */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]),
    :host(:not([data-theme])) {
        color-scheme: dark;
        --background-display: #000000;
        --text-success: var(--blue-2);
        --background-subtle: var(--grey-9);
        --background-info: var(--blue-8);
        --text-display: var(--grey-0);
        --text-success: var(--green-3);
        --text-alert: var(--red-3);
        --border-display: var(--grey-0);
        --border-subtle: var(--grey-7);
    }
}

/* Dark - manual */
[data-theme="dark"] {
    color-scheme: dark;
}
