{{ define "main" }}
<main>
    <!-- Header -->
    <header>
        <h1 class="heading-6">{{ .Title }}</h1>
        <h2 class="heading-1">These are the people behind Camino</h2>
    </header>

    <!-- Range child pages -->
    {{ with .Pages }}
    <nav>
        <ul>
            {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </nav>
    {{ end }}

    <!-- Markdown -->
    {{ with .Content }}
    <section>{{ . }}</section>
    {{ end }}
</main>
{{ end }}
